{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'story-6.css' %}" type="text/css">
{% endblock %}

{% block title %}
<title>Story6 - Detail Kegiatan</title>
{% endblock %}

{% block body %}
    <div class="blockbody">
        <h1 class="text-info">{{detail_kegiatan.nama}}</h1>
        <h3 class="text-muted">{{detail_kegiatan.deskripsi}}</h3>

        {% if daftar_orang.count != 0 %}

        <table class="table table-hover table-dark table-detail">
            <thead>
                <tr>
                  <th scope="col" class="result">Nama Partisipan</th>
                  <th scope="col" class="result">Asal Daerah</th>
                  <th></th>
                </tr>
              </thead>
            <tbody>
              {% for orang in daftar_orang %}
              <tr>
                <td class="result">{{orang.nama}}</td>
                <td class="result">{{orang.asal}}</td>
                <td class="result"> 
                    <form action="hapus_orang/{{orang.id}}/{{detail_kegiatan.id}}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <input type="submit" value="Batal" class="btn btn-danger">
                    </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <div class="text-center">
            <a href="/story6/">
              <button type="button" class="btn-lg btn-light" style="cursor: pointer;">Kembali</button>
            </a>
        </div>
    </div>
    
{% endblock %}