{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'story-6.css' %}" type="text/css">
{% endblock %}

{% block title %}
<title>Story6 - Isi Partisipan</title>
{% endblock %}

{% block body %}
<div class="blockbody">
  <div class="d-flex flex-row judul">
    <div class="p-2 judul1">Isi</div>
    <div class="p-2 judul2">Partisipan</div>
  </div>

  <form action="tambah_partisipan/" method="POST">
    {% csrf_token %}
  
    <table class="table table-hover table-dark">
      <tbody>
        {{form.as_table}}
  
        <tr>
          <td></td>
          <td><input type="submit" value="Submit" class="btn btn-light"></td>
        </tr>
      </tbody>
    </table>
  
  </form>
</div>

{% endblock %}