{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'story-6.css' %}" type="text/css">
{% endblock %}

{% block title %}
<title>Story6 - Home Page</title>
{% endblock %}

{% block body %}
  <div class="blockbody">
    <div class="d-flex flex-row justify-content-center judul">
      <div class="p-2 judul1">Daftar</div>
      <div class="p-2 judul2">Kegiatan</div>
    </div>

    {% if kumpulan_kegiatan.count != 0 %}
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col" class="result">Nama Kegiatan</th>
          <th scope="col" class="result">Deskripsi</th>
          <th scope="col" class="result">Partisipan</th>
          <th scope="col" class="result">Hapus Kegiatan</th>
        </tr>
      </thead>
      <tbody>
        {% for kegiatan in kumpulan_kegiatan %}
        <tr>
          <td class="result">{{kegiatan.nama}}</td>
          <td class="result">{{kegiatan.deskripsi}}</td>
          <td class="result">
            <a href="detail_partisipan/{{kegiatan.id}}">
                <button type="button" class="btn btn-primary">Lihat Partisipan</button>
            </a>
          </td>
          <td class="result">
            <form action="hapus_kegiatan/{{kegiatan.id}}" method="POST" style="display: inline;">
              {% csrf_token %}
              <input type="submit" value="Hapus" class="btn btn-danger">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    {% endif %}
  
    <div class="text-center">
      <a href="daftar_kegiatan">
        <button type="button" class="btn-lg btn-success" style="cursor: pointer;">Daftar</button>
      </a>
      <a href="/story6/isi_kegiatan">
        <button type="button" class="btn-lg btn-light" style="cursor: pointer;">Tambah Kegiatan</button>
      </a>
  </div>
  </div>

{% endblock %}