body {
    background-color: #222222; 
}

h1{
    font-size: 5vw;
    text-align: center;
}

.blockbody {
    margin: 0px 20px 20px 20px;
}

.judul{
    font-size: 5vw;
}

.judul1 {
    color: #64B5F6;
}

.judul2 {
    color: #DF186C;
}

.result {
    text-align: center; 
    vertical-align: middle;
}

.table-detail{
    width: fit-content;
    margin: 10px auto 30px auto;
}