{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'story-5.css' %}" type="text/css">
{% endblock %}

{% block title %}
<title>Story5 - Detail Matkul</title>
{% endblock %}

{% block body %}
    <div class="blockbody">
        <h1 class="text-info">{{detail_matkul.matkul}}</h1>

        <table class="table table-hover table-dark table-detail">
            <tbody>
              <tr>
                <th scope="col" class="result">Deskripsi</th>
                <td class="result">{{detail_matkul.deskripsi}}</td>
              </tr>

              <tr>
                <th scope="col" class="result">Jumlah SKS</th>
                <td class="result">{{detail_matkul.sks}}</td>
              </tr>

              <tr>
                <th scope="col" class="result">Dosen</th>
                <td class="result">{{detail_matkul.dosen}}</td>
              </tr>

              <tr>
                <th scope="col" class="result">Ruang</th>
                <td class="result">{{detail_matkul.ruang}}</td>
              </tr>

              <tr>
                <th scope="col" class="result">Semester</th>
                <td class="result">{{detail_matkul.semester}}</td>
              </tr>
            </tbody>
        </table>
        
        <div class="text-center">
            <a href="/story5/">
              <button type="button" class="btn-lg btn-light" style="cursor: pointer;">Kembali</button>
            </a>
        </div>
    </div>
    
{% endblock %}